services:
  keycloak:
    image: quay.io/keycloak/keycloak:22.0.1
    command: start-dev
    environment:
      KC_DB: dev-mem
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8180:8080"
    networks:
      - investnet

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "StrongPassword123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - ./sqlserver-init:/docker-entrypoint-initdb.d
    networks:
      - investnet

  invest-api:
    build: .
    ports:
      - "8081:8080"
    depends_on:
      - keycloak
      - db
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:sqlserver://db:1433;databaseName=investimentos
      QUARKUS_DATASOURCE_USERNAME: sa
      QUARKUS_DATASOURCE_PASSWORD: StrongPassword123
      QUARKUS_DATASOURCE_DB_KIND: other
      QUARKUS_DATASOURCE_JDBC_DRIVER: com.microsoft.sqlserver.jdbc.SQLServerDriver
      QUARKUS_HIBERNATE_ORM_DIALECT: org.hibernate.dialect.SQLServerDialect
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: update
      QUARKUS_OIDC_AUTH_SERVER_URL: http://keycloak:8080/realms/invest-api
      QUARKUS_OIDC_CLIENT_ID: api-client
      QUARKUS_OIDC_CREDENTIALS_SECRET: secret
    networks:
      - investnet

networks:
  investnet:
