services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "Senhaforte123456"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: "true"
      KC_HTTP_PORT: 8080
      KC_HOSTNAME_URL: http://localhost:8180
      KC_HOSTNAME_ADMIN_URL: http://localhost:8180
    volumes:
      - ./keycloak-data/import:/opt/keycloak/data/import
    ports:
      - "8180:8080"
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile
    #image: simulacao-investimento-api:latest
    container_name: api
    depends_on:
       keycloak:
          condition: service_started
       sqlserver:
        condition: service_started
    environment:
       QUARKUS_DATASOURCE_USERNAME: sa
       QUARKUS_DATASOURCE_PASSWORD: Senhaforte123456
       QUARKUS_DATASOURCE_JDBC_URL: jdbc:sqlserver://sqlserver:1433;databaseName=investimentos;encrypt=true;trustServerCertificate=true
       #QUARKUS_OIDC_AUTH_SERVER_URL: "http://keycloak:8180/realms/invest-api"
    ports:
      - "8081:8080"
    volumes:
      - ./src:/project/src
      - ./pom.xml:/project/pom.xml
    #command: ./mvnw quarkus:dev -Dquarkus.http.host=0.0.0.0
    restart: unless-stopped

volumes:
  sqlserver-data:
